# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/

# env files — НЕ заливать ключи на GitHub
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
npm-debug.log*

# TypeScript build info
tsconfig.tsbuildinfo

# Test results
test-results/
playwright-report/
